@import "tailwindcss";

@theme {
  --animate-infinite-scroll: marquee 25s linear infinite;
  --font-sans: var(--inter-font);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}